BasedOnStyle: llvm

IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100

#AlwaysBreakTemplateDeclarations: Multiline
#AlignAfterOpenBracket: DontAlign
AlignTrailingComments: false
ReflowComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All

NamespaceIndentation: Inner
SpaceBeforeParens: Never
FixNamespaceComments: false
Standard: Latest
IndentRequires: true
BreakBeforeConceptDeclarations: false
BreakBeforeTernaryOperators: false

#RequiresClausePosition: OwnLine
#IndentRequiresClause: true

DeriveLineEnding: false
UseCRLF: false