/build
/dependencies
/editor
/game
/client
/server
/refs
/res_viewer
/convert
/lobby_server
/*.html
/*.js
/*.wasm
/*.exe
/*.exe.manifest
/data/demo
/data/config.xml
/data/tiles
/data/sprites
/data/sounds
/data/music
/data/maps/*.xml
/data/maps/*/*.xml
/data/gui
/media
/.vscode
*.swp
*.vim
