*.swp
*.vim
/.ycm_extra_conf.pyc
/Makefile.local
/editor
/game
/client
/server
/build
/refs
/res_viewer
/convert
/lobby_server
/*.exe
/data/config.xml
/data/tiles
/data/sprites
/data/sounds
/data/music
/data/maps/*.xml
/data/maps/*/*.xml
/data/gui
/media
