name: test

on:
  push:
    branches:
      - '**'
  workflow_call:

env:
  PYTHONUNBUFFERED: 1

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v3
        env:
            cache-name: cache-deps
        with:
            path: libfwk/windows/libraries
            key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('libfwk/tools/configure.py', 'libfwk/dependencies.json', 'dependencies.json') }}

      - if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        name: Install dependencies
        shell: cmd
        run: |
          pip install conan
          conan profile detect
          python libfwk/tools/configure.py download-deps freetype ogg openal-soft sdl
          python libfwk/tools/configure.py download-deps shaderc-combined vorbis vulkan-headers zlib
          python libfwk/tools/configure.py build-deps mpg123 libzip

      - name: Configure freeft & libfwk
        run: python libfwk/tools/configure.py configure -T Release -G ninja-clang-cl

      - name: Build freeft & libfwk
        run:  cmake --build build -j 8

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: FreeFT-windows-${{ github.sha }}
          path: |
            data/
            *.exe


  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install dependencies
        run: |
          pip install conan
          conan profile detect
          python libfwk/tools/configure.py download-deps freetype ogg openal-soft sdl
          python libfwk/tools/configure.py download-deps shaderc-combined vorbis vulkan-headers zlib
          python libfwk/tools/configure.py build-deps mpg123 libzip

      - name: Configure freeft & libfwk
        run:  python libfwk/tools/configure.py configure -T Release -G ninja

      - name: Build freeft & libfwk
        run:  cmake --build build -j 8

  check-formatting:
    runs-on: windows-2025
    steps:
      - name: Disable git autocrlf
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: 'x64'

      - name: Install Dependencies
        run:  pip install black

      - name: Check C++ formatting
        run:  python tools/format.py -c

      - name: Check Python formatting
        if:   '!cancelled()'
        run:  python -m black tools/* --check --color --diff -l 100
